:root {
    --green: #00FF00;
    --black: #000000;
    --white: #ffffff;
}

body {
    font-family: monospace;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
} 

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);

    background: var(--bg);
    color: var(--fontColor);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);

    background: var(--bg);
    color: var(--fontColor);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
     outline-style: none; 
}

